* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --theme1-bg: rgb(1, 1, 26);
  --theme1-color: whitesmoke;
}
body {
  background-color: var(--theme1-bg);
  color: var(--theme1-color);
}

.main {
  margin: 10px;
  border: 1px solid rgba(150, 149, 149, 0.384);
  border-radius: 5px;
  height: 92vh;
  padding: 10px;
  background-color: black;
}
.top-frame {
  height: 150px;
  border: 1px solid rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: inherit;
}
.brand-name {
  font-size: 40px;
  width: 80%;
  height: inherit;
}
.logo-section {
  width: 20%;
  height: inherit;
}
.logo {
  height: 100%;
  width: 100%;
}
.bottom-frame {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-container {
  height: 400px;
  width: 400px;
  background-image: url(/images/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: spin infinite 5s linear;
}
ul {
  justify-content: center;
  height: 400px;
  display: flex;
  flex-direction: column;
}
ul > li {
  list-style: none;
}
li {
  margin: 5px;
  transition: 200ms;
  padding-top: 15px;
  height: 40px;
  font-size: larger;
  text-align: center;
  width: 100px;
  background-image: linear-gradient(
    to right,
    white 50%,
    rgba(255, 255, 255, 0.342) 50%
  );
  background-size: 200% 200%;
  background-position: top right;
  border: 1px dashed white;
  color: white;
  border-radius: 7px;
}
li:hover {
  cursor: pointer;
  background-position: bottom left;
  color: black;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
